# 1. Import the necessary libraries for you to be able to query 4square API

In [82]:
import requests
import json
import pandas as pd
from getpass import getpass

In [83]:
import os
from dotenv import load_dotenv
load_dotenv()

True

In [84]:
token = os.getenv("token")

# 2. Get names and location of the 10 coffee places by passing Ironhack as your location

In [97]:
lat = 41.3977461
lon = 2.187674417

def requests_for_foursquare (query, lat, lon, radius=500, limit=1):

    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={lat}%2C{lon}&radius={radius}&limit={limit}&sort=DISTANCE"

    headers = {
        "accept": "application/json",
        "Authorization": token
    }
    
    try:
        return requests.get(url, headers=headers).json()
    except:
        print("no :(")

In [111]:
res = requests_for_foursquare ("coffee", lat, lon, radius=500, limit=10)

name = [(res["results"][i]["name"]) for i in range(10)]
address = [(res["results"][i]["location"]["address"]) for i in range(10)]

new = {}

new["name"] = name
new["address"] = address

df = pd.DataFrame(new)
df

                 name                               address
0          Espacio 88                   Carrer Pamplona, 88
1      SKYE Coffee Co                    Calle Pamplona, 88
2        Granja Mabel                       Marina, 114-116
3  Three Marks Coffee                      Ausiàs Marc, 151
4              El Bar                             Ribes, 46
5        El Cafè Blau                             Casp, 192
6    Cantina Restobar                           Marina, 164
7               Eva-2                           Bolivia, 21
8    De Pa i Xocolata               Carrer de la Marina, 92
9          La Rourera  Gran Vía de Les Corts Catalanes, 792

# 3. Now get the 5 CLOSEST coffe places. Make use of params: limit, near?

In [112]:
res = requests_for_foursquare ("coffee", lat, lon, radius=500, limit=10)
res["results"][0]["distance"]

name = [res["results"][i]["name"] for i in range(5)]
distance = [res["results"][i]["distance"] for i in range(5)]

new = {}

new["name"] = name
new["distance"] = distance

df = pd.DataFrame(new)
df

                 name  distance
0          Espacio 88       311
1      SKYE Coffee Co       320
2        Granja Mabel       327
3  Three Marks Coffee       354
4              El Bar       364

# 4. Define a function that returns name, lat, long for starbucks OR restaurants AND for any given location

In [146]:
limit = 1

def foursquare_places (venue, coordinates):
    
    url = f"https://api.foursquare.com/v3/places/search?query={venue}&ll={coordinates[0]}%2C{coordinates[1]}&radius=1000&limit={limit}&sort=DISTANCE"

    headers = {
        "accept": "application/json",
        "Authorization": token
    }
    
    try:
        res = requests.get(url, headers=headers).json()
        names = [res["results"][i]["name"] for i in range(limit)]
        lat = [res["results"][i]["geocodes"]["main"]["latitude"] for i in range(limit)]
        lon = [res["results"][i]["geocodes"]["main"]["longitude"] for i in range(limit)]

        db = {}

        db["name"] = names
        db["latitude"] = lat
        db["longitud"] = lon

        df = pd.DataFrame(db)
        return df
        
    except:
        print("no :(")

In [147]:
venue = "starbucks"
coordinates = [41.3977461, 2.187674417]

res = foursquare_places(venue, coordinates)
res

        name   latitude  longitud
0  Starbucks  41.392007  2.180638

# 5. Export it into data folder as a json: `data/coffe_shops.json`

In [89]:
# your code here

# BONUS: load it into MongoDB in a collection named "ironcoffee" using pymongo

In [90]:
# your code here