In [2]:
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd
import json

# 1. Read your exported json file from the data folder

In [3]:
data = pd.read_json('data/coffe_shops.json')
data

              standard    longt  alt  elevation     latt
stnumber            96  2.19035  NaN        NaN  41.3978
addresst      Pamplona  2.19035  NaN        NaN  41.3978
statename    Catalonia  2.19035  NaN        NaN  41.3978
postal           08018  2.19035  NaN        NaN  41.3978
region       Catalonia  2.19035  NaN        NaN  41.3978
city         Barcelona  2.19035  NaN        NaN  41.3978
prov                ES  2.19035  NaN        NaN  41.3978
countryname      Spain  2.19035  NaN        NaN  41.3978
confidence         0.8  2.19035  NaN        NaN  41.3978

# 2. Plot a map with the coffee shops

In [ ]:
import geopandas as gdp
from cartoframes.viz import Map, Layer, popup_element

After pushing, view your own notebook on [nbviewer](https://nbviewer.org/)