# 1. Import the necessary libraries for you to be able to query 4square API

In [1]:
import requests
import json
import pandas as pd
from getpass import getpass

In [3]:
import os
from dotenv import load_dotenv
load_dotenv() # load_env

True

In [36]:
token = os.getenv("token")

In [48]:
def requests_for_foursquare1 (query, lat, lon, radius=5000, limit=1):

    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={lat}%2C{lon}&radius={radius}&limit={limit}"

    headers = {
        "accept": "application/json",
        "Authorization": token
    }
    
    try:
        return requests.get(url, headers=headers).json()
    except:
        print("no :(")

In [49]:
def requests_for_foursquare (query, lat, lon, sorting='DISTANCE', radius=5000, limit=1):

    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={lat}%2C{lon}&radius={radius}&sort={sorting}&limit={limit}"

    headers = {
        "accept": "application/json",
        "Authorization": token
    }
    
    try:
        return requests.get(url, headers=headers).json()
    except:
        print("no :(")

In [ ]:
def transform_request_into_df (res):
    list_of_dictionaries = [extracting_from_one_element (element) for element in res["results"]]
    return pd.DataFrame(list_of_dictionaries)

In [6]:
iron_lat = 41.3965263
iron_lon = 2.1873015

In [10]:
res = requests_for_foursquare ("Coffee Shop", iron_lat, iron_lon, radius=50000, limit=1)

In [26]:
def extracting_from_one_element (one_coffee_shop):

    name = one_coffee_shop["name"]
    address = one_coffee_shop["location"]["address"]
    distance = one_coffee_shop["distance"]
    zip_code = one_coffee_shop["location"]["postcode"]
    lat = one_coffee_shop["geocodes"]["main"]["latitude"]
    lon = one_coffee_shop["geocodes"]["main"]["longitude"]

    
    small_dict = {
    "name": name,
    "address": address,
    "zip_code": zip_code,
    "distance": distance,
    "lat": lat,
    "lon": lon
}
    return small_dict

# 2. Get names and location of the 10 coffee places by passing Ironhack as your location

In [21]:
res1 = requests_for_foursquare ("Coffee Shop", iron_lat, iron_lon, radius=5000, limit=10)

In [27]:
list_of_dictionaries = [extracting_from_one_element(el) for el in res1["results"]]

In [28]:
list_of_dictionaries

[{'name': 'Nømad Coffee Lab & Shop',
  'address': 'Pasatge Sert, 12',
  'zip_code': '08003',
  'distance': 1194,
  'lat': 41.388989,
  'lon': 2.177167},
 {'name': 'Cafés el Magnífico',
  'address': 'Argenteria, 64',
  'zip_code': '08003',
  'distance': 1532,
  'lat': 41.383541,
  'lon': 2.180957},
 {'name': 'Espai Joliu',
  'address': 'Carrer Badajoz, 95',
  'zip_code': '08005',
  'distance': 687,
  'lat': 41.398735,
  'lon': 2.195069},
 {'name': 'Three Marks Coffee',
  'address': 'Ausiàs Marc, 151',
  'zip_code': '08013',
  'distance': 329,
  'lat': 41.397168,
  'lon': 2.183123},
 {'name': 'El Petit Príncep',
  'address': 'Gran Vía de Les Corts Catalanes, 677',
  'zip_code': '08013',
  'distance': 845,
  'lat': 41.396371,
  'lon': 2.177069},
 {'name': "Nømad Roaster's Home",
  'address': 'Calle de Pujades, 95',
  'zip_code': '08005',
  'distance': 720,
  'lat': 41.397977,
  'lon': 2.195589},
 {'name': 'Roast Club',
  'address': 'Carrer de València, 190',
  'zip_code': '08011',
  'distance': 2692,
  'lat': 41.387825,
  'lon': 2.157221},
 {'name': 'Dalston Coffee',
  'address': 'Calle de Les Ramelleres, 16',
  'zip_code': '08001',
  'distance': 2068,
  'lat': 41.384525,
  'lon': 2.168502},
 {'name': 'Federal',
  'address': 'Passatge de la Pau, 11',
  'zip_code': '08002',
  'distance': 2195,
  'lat': 41.378049,
  'lon': 2.177796},
 {'name': 'Syra Coffee',
  'address': 'Siracusa, 13',
  'zip_code': '08012',
  'distance': 2379,
  'lat': 41.400981,
  'lon': 2.159596}]

In [29]:
df = pd.DataFrame(list_of_dictionaries)
df

,name,address,zip_code,distance,lat,lon
0,Nømad Coffee Lab & Shop,"Pasatge Sert, 12",08003,1194,41.388989,2.177167
1,Cafés el Magnífico,"Argenteria, 64",08003,1532,41.383541,2.180957
2,Espai Joliu,"Carrer Badajoz, 95",08005,687,41.398735,2.195069
3,Three Marks Coffee,"Ausiàs Marc, 151",08013,329,41.397168,2.183123
4,El Petit Príncep,"Gran Vía de Les Corts Catalanes, 677",08013,845,41.396371,2.177069
5,Nømad Roaster's Home,"Calle de Pujades, 95",08005,720,41.397977,2.195589
6,Roast Club,"Carrer de València, 190",08011,2692,41.387825,2.157221
7,Dalston Coffee,"Calle de Les Ramelleres, 16",08001,2068,41.384525,2.168502
8,Federal,"Passatge de la Pau, 11",08002,2195,41.378049,2.177796
9,Syra Coffee,"Siracusa, 13",08012,2379,41.400981,2.159596

# 3. Now get the 5 CLOSEST coffe places. Make use of params: limit, near?

In [31]:
res3 = requests_for_foursquare ("Coffee Shop", iron_lat, iron_lon, sorting='DISTANCE', radius=5000, limit=5)

In [33]:
list_of_dictionaries = [extracting_from_one_element(el) for el in res3["results"]]

In [34]:
list_of_dictionaries

[{'name': 'Andalucia Restaurante',
  'address': 'Avenida Meridiana, 30-32',
  'zip_code': '08018',
  'distance': 143,
  'lat': 41.395239,
  'lon': 2.187192},
 {'name': 'Three Marks Coffee',
  'address': 'Ausiàs Marc, 151',
  'zip_code': '08013',
  'distance': 329,
  'lat': 41.397168,
  'lon': 2.183123},
 {'name': 'Cacho',
  'address': 'Carrer de Llull, 27',
  'zip_code': '08005',
  'distance': 498,
  'lat': 41.393082,
  'lon': 2.191038},
 {'name': 'Santa Fe',
  'address': 'Lington, 17',
  'zip_code': '08018',
  'distance': 504,
  'lat': 41.392081,
  'lon': 2.185666},
 {'name': 'Juice Dudes',
  'address': 'Avinguda Meridiana, 1',
  'zip_code': '08018',
  'distance': 519,
  'lat': 41.391994,
  'lon': 2.186526}]

In [37]:
df = pd.DataFrame(list_of_dictionaries)
df

,name,address,zip_code,distance,lat,lon
0,Andalucia Restaurante,"Avenida Meridiana, 30-32",08018,143,41.395239,2.187192
1,Three Marks Coffee,"Ausiàs Marc, 151",08013,329,41.397168,2.183123
2,Cacho,"Carrer de Llull, 27",08005,498,41.393082,2.191038
3,Santa Fe,"Lington, 17",08018,504,41.392081,2.185666
4,Juice Dudes,"Avinguda Meridiana, 1",08018,519,41.391994,2.186526

# 4. Define a function that returns name, lat, long for starbucks OR restaurants AND for any given location

In [40]:
iron_coord = f'{iron_lat},{iron_lon}'
iron_coord

'41.3965263,2.1873015'

In [55]:
def foursquare_places (venue, coordinates,limit=1):
    lat = coordinates.split(",")[0].strip()
    lon = coordinates.split(",")[1].strip()
    
    res = requests_for_foursquare1(venue,lat,lon,limit=limit)
    
    place = res["results"][0]
    
    
    name = place["name"]
    place_lat = place["geocodes"]["main"]["latitude"]
    place_lon = place["geocodes"]["main"]["longitude"]
    
    dict = {
        "name":name,
        "lat":place_lat,
        "lon":place_lon
    }
    return dict

In [56]:
d = foursquare_places("restaurant",iron_coord)
d

{'name': 'Can Dendê', 'lat': 41.39836, 'lon': 2.198345}

In [57]:
df = pd.DataFrame([d])
df

        name       lat       lon
0  Can Dendê  41.39836  2.198345

# 5. Export it into data folder as a json: `data/coffe_shops.json`

In [58]:
df.to_json("data/coffee_shops.json", index=False)

# BONUS: load it into MongoDB in a collection named "ironcoffee" using pymongo

In [ ]:
import pymongo
client = pymongo.MongoClient("localhost:27017")
db = client["Ironhack"]
c = db.get_collection("lab_foursquare") 
c.insert_one({"hola":"qué tal"})

In [ ]:
def foursquare_places_mongo (venue, coordinates):
    lat = coordinates.split(",")[0].strip()
    lon = coordinates.split(",")[1].strip()
    
    res = requests_for_foursquare(venue,lat, lon)
    
    place = res["results"][0]
    
    name = place["name"]
    place_lat = place["geocodes"]["main"]["latitude"]
    place_lon = place["geocodes"]["main"]["latitude"]
    
    dict = {
        "name":name,
        "lat":place_lat,
        "lon":place_lon
    }
    
    df=pd.DataFrame([dict])
    
    for index, row in df.iterrows():
    c.insert_one(dict(row))
    
    return dict